extends layout.pug

block content
  body
    h3 Solicitud rechazada
    br
    div
      p 
        | Tu solicitud ha sido rechazada, a continuación se adjuntan las observaciones a corregir:
      br
      ul 
        each item in observations
          li
            strong #{item.field}:
            | #{item.observation}
      p
        | Se te anexa tu código QR, con el cual podrás acceder a las instalaciones, además de ser requerido en caso de tener una reservación pendiente.
