extends layout.pug

block content
  p
    | ¡Muchas gracias por confirmar tu asistencia a nuestra boda! Estamos
    |   emocionados de compartir este día tan especial contigo.
    br
    br
    | Tu presencia hará que la celebración sea aún más memorable.
  p
    | Quedamos atentos a cualquier duda o necesidad que puedas tener antes del
    |   gran día.
    br
    br
    | ¡Nos vemos muy pronto!
  p
    | Con cariño, 
    strong Efrén y Nere
