extends layout.pug

block content
  body
    h3 ¡Bienvenido a Común_n!
    br
    div
      p 
        | Tu solicitud ha sido aprobada, ahora cuentas con acceso a la plataforma.
      br
      p
        | Se te anexa tu código QR, con el cual podrás acceder a las instalaciones, además de ser requerido en caso de tener una reservación pendiente.
