extends layout.pug

block content
  p
    | Para poder acceder a la plataforma,
    br
    | por favor verifica tu correo electrónico dando click al siguiente enlace:
    a(href=url target="_blank") Confirmar correo electrónico