extends layout.pug

block content
  body
    h3 Solicitud actualizada con éxito.
    br
    div
      p
        | Nuestros administradores validarán tu solicitud, si es aceptada o tienes errores en la misma, se te notificará mediante correo electrónico.
      br
      p
        | Agradecemos tu paciencia.
